@charset "utf-8";
/* CSS Document */

.navbar{
    background: linear-gradient(to top right, #ffff00 0%, #99ff66 89%);
}

.rotateimg270 {
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270+deg);
}

.purple {
	color:#7c06fa;
	
}
.tealgreen{
	color:#76f48b!important;
}
.teal{
	color:aqua!important;
}
.josefin{
	font-family: 'Josefin Sans', sans-serif;
}
.anton{
	font-family: 'Anton', sans-serif;
}



